Berat Gudelek <beratgdlk@gmail.com> Emre Seferoğlu <yunusemre5331@icloud.com>
# İsim varyasyonlarını da yakalamak için ek satırlar (zararsız, faydalı olabilir)
Berat Gudelek <beratgdlk@gmail.com> Emre Seferoğlu
Berat Gudelek <beratgdlk@gmail.com> Emre Seferoglu
